
.container {
  /* width: 100%;
  height:100%; */
  /* background-image: url(../image/plant-731424_1920.png);
  background-repeat: no-repeat;
  background-size: auto; */
/* background-color: red; */

}
.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.header {
  
}
/* 
.logo a img{
  width: 100px;
  height: 100px;
} */

.board {
  /* width: 100%;
  height: 100vh; */
  margin: 0 auto;
  /* border: 1px solid #A593E0; */
  /* margin: 0 100px; */
  /* background-color: skyblue; */
  /* padding: 0 80px; */
  /* margin: 100px 100px; */
  margin-top: 120px;
}
.box2{
  /* background-color: skyblue; */
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  /* margin: 0 auto; */
}
/* Tech 게시판 타이틀*/
.tech-heading {
  /* margin: 0; */
  /* margin-left: 10px; */
  margin-top: 90px;
  font-size: 60px;
  margin: 0 auto;
  /* font-size: 20px; */
  margin-bottom: 20px;
  color: #eee;
  /* background-color: green; */
}

/* Tech 게시판 설명 */
.caption {
  /* display: block; */
  margin: 0 auto;
  /* margin-left: 10px; */
  margin-top: 10px;
  color: #eee;
  font-size: 18px;
  /* background-color: red; */
}

/* 내글, 글쓰기 그룹*/
.filter-write {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
  margin-right: 15px;
  margin-top: 80px;
  /* background-color: green; */
  position: relative;
}

/* 필터링 */
select {
  outline: none;
  width: 100px;
  height: 28px;
  padding: 4px 0;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #566270;
  border-color: #566270;;
}

/* 글쓰기 버튼 */
.write-btn {
  border: 1px solid transparent;;
  background-color: transparent;
  font-size: 16px;
  padding: 4px 7px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  /* color: #566270; */
  background-color: #A593E0;
  color: #eee;
  font-weight: 800;
}


    
.write-btn:hover {
  background-color: rgb(101, 91, 159);
  color: #eee;
}
/* .board-header ( 제목 , 닉네임, 날짜, 조회수) */
.board-header {
  font-size: 0;
  border-top: 1px solid #A593E0;
  padding-top: 10px;
  color: #eee;
}


/* .board-header > .title */
.board-header .title {

  font-size: 16px;
  font-weight: 800;
  margin: 0;
  display: inline-block;
  /* font-weight: normal; */
  width: 800px;
  text-align: center;
  /* background-color: sienna; */
}

/* .board-header > .nick-name */
.board-header .nick-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  width: 50px;
  padding: 0 25px;
  margin-left: 10px;
  /* background-color: seagreen; */
}

/* .board-header > .heading-date */
.board-header .heading-date {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  width: 100px;
  padding: 0 20px;
  /* background-color: red; */
  margin-left: 10px;

}

/* .board-header > .heading-click */
.board-header .heading-click {
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  text-align: center;
  width: 80px;
  margin-left: 10px;
  /* background-color: sienna; */
}


/* ul.board-list */
.board-list {
  padding: 0;
  min-height: 130px;
  color: #eee;
  /* background-color: green; */
  padding-top: 40px;
}

/* ul.board-list > li */
.board-list>li {
  font-size: 0;
  list-style: none;
  /* padding-bottom: 10px; */
  border-bottom: 1px solid #aaaaaaad;
  /* background-color: sienna; */
  padding-bottom: 20px;
  padding-top: 20px;
}

/* ul.board-list > li > a */
.board-list>li>a {
  /* width: 78%; */
  font-size: 14px;
  width: 790px;
  margin-left: 10px;
  display: inline-block;
  color: #eee;
  text-overflow: ellipsis;
  white-space: nowrap;
overflow: hidden;
  text-decoration: none;

/* line-height: 1; */

  /* background-color: green; */
}

/* ul.board-list > author*/
.board-list .author {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  /* background-color: salmon; */



  width: 50px;
  padding: 0 25px;
  margin-left: 10px;
}


/* ul.board-list > date*/
.time {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 140px;
  margin-left: 10px;
  margin-top: 10px;
  /* background-color: sienna; */
}


/* ul.board-list > click*/
.click {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 80px;
  margin-left: 10px;
  /* background-color: sienna; */
  /* width: 7%; */
}

.fas{
  color: #566270;
  font-size: 15px;
  width: 10px;
  height: 10px;
}

.page-nation {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  min-height: 300px;
}

.page-item {
  list-style: none;
  margin-top: 10px;
}

.page-item > a {
  margin: 0 10px;
  padding: 0 20px;
  color: #eee;
  text-decoration: none;
}


/* login-check */


.check-sign.on {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #423986;
  border: 2px solid #fefeff;
  border-radius: 20px;
  opacity: 0.9;
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}



.login-check {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 30px;
  right: 50px;
  border: 2px solid;
  /* background: red; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-check.on {
  display: flex;
}

.login-check.on .btn-group {
  margin-top: 10px;
}
.login-check.on .btn-group button {
  width: 60px;
}
