.container {
    margin-top: 18vh;
    margin-left: 30px;
    width: 80%;
    height: 100%;
    border: 1px solid #A593E0;
    padding: 0 20px;
}


.board-name {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.content-heading {
    margin: 0;
    margin-left: 20px;
}

.profile {
    margin-left: 20px;
    background-color: red;
    display: inline-block;
    width: 50px;
    height: 43px;
}

.member-info {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A593E0;
}

.content-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}


.nickname {
    background-color: skyblue;

}

.date {
    background-color: slateblue;
    width: 150px;
}

.click-count {
    background-color: steelblue;
    margin-left: 5px;
}

.content {
    height: 400px;
    border: 0;
    /* border-top: 1px solid; */
    border-bottom: 1px solid;
    margin-top: 10px;
    padding: 0 20px;
}

.comment {
    margin-top: 10px;
    height: 200px;
    border: 1px solid;
    padding: 20px 20px;
    margin-bottom: 10px;
}



.comment-enrollment {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.comment-least {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.comment-register{
    height: 200px;
    border: 1px solid;
}

.comment-list{
    border: 1px solid;
    height: 160px;
    margin-top: 10px;
}

.comment-register{
padding: 20px 20px;
}

.commenting{
    margin-top: 10px;
    height: 160px;
    border: 1px solid;
}