body {
    background-image: url(../image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container {
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 30px;
    width: 90%;
    height: 90vh;
    /* border: 1px solid #A593E0; */
    padding: 20px 20px;
    /* background-color: blue; */
}

.board-name {
    display: inline-block;
    /* margin-top: 20px; */
    color: #eee;
    margin-left: 20px;
}

.content-heading {
    margin: 0;
    margin-left: 20px;
    color: #eee;
}

.profile {
    margin-left: 20px;
    background-color: red;
    display: inline-block;
    width: 50px;
    
    height: 100%;
}

.member-info {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;;
    position: relative;
    position: relative;
}

.go-main {
    width: 80px;
    height: 30px;
    border: 0;
    background-color: #A593E0;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    bottom: 100px;
    right: 10px;

  
}
.go-main:hover {
    background-color: #aa33ff;
}
.content-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}


.nickname {
    color: #eee;
}

.date {
    width: 150px;
    color: #eee;
}

.click-count {
    margin-left: 5px;
    color: #eee;
}

/* 수정 */

/* 수정&삭제 버튼 */



/* 삭제 */
.written {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.written.on {
    display: block;
}

.written button {
   display: inline-block;

   width: 80px;
   height: 30px;
   border: 0;
   background-color: #A593E0;
   border-radius: 15px;
   cursor: pointer;
   transition: 1s;
}

.written button:hover {
    background-color: #aa33ff;
}



.content {
    height: 100%;
    border: 0;
    color: #eee;
    /* border-top: 1px solid; */
    border-bottom: 1px solid;
    margin-top: 10px;
    padding: 60px 20px;
    /* background-color: red; */
}

.comment {
    margin-top: 10px;
    /* padding: 20px 20px; */
    margin-bottom: 15px;
    padding: 0 10px;
    /* background-color: red; */
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.modify-btn {
    vertical-align: middle;
    position: relative;
}

.group {
    display: flex;
    align-items: center;
    color: #eae8f1;

}

.comment-text {
    resize: none;
    display: none;
}
.comment-remake {
    display: none;
}
.comment-text.on {
    display: block;
    /* position: absolute; */
}
.comment-remake.on {
    display: inline-block;

}

.modify-btn {
    display: block;
    margin-left: 10px;
}

.comment-header {
    display: inline-block;
    
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.comment-list {
    /* background-color: blue; */
    height: 100%;
    margin-top: 25px;
    padding-bottom: 10px;
    color: #eee;
}
.comment-heading {
    font-weight: 600;
    color: #eee;
}


.comment-enrollment {
    background-color: transparent;
    outline: none;
    border: none;
    color: #eee;
    cursor: pointer;
    /* background-color: red; */
}

.comment-least {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    
}

.comment-modify-btn,
.comment-delete-btn,
.comment-add-btn {
    /* border: 1px solid; */
    /* border-radius: 50px; */
    background-color: transparent;
    /* border: none; */
    border: 1px solid #aaaaaa;
    cursor: pointer;
    outline: none;
    color: #fefeff;
}

.comment-date-info {
    display: flex;
    /* background-color: red; */
    color: #eee;
}
.comment-date {
    /* background-color: red; */
    /* display: block; */
    font-size: 14px;
    margin-right: 5px;
}
.comment-add-btn {
    display: inline;
    border: none;
    font-weight: 700;
}

.comment-register {
    /* border: 1px solid; */
    /* padding: 30px 20px; */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #A593E0;
    margin-top: 20px;
    height: 100%;
}

.member{
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.commenting {
    resize: none;
    border: 1px solid;
    font-size: 16px;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 20px;
    outline: none;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.comment-btn{
    display: flex;
    justify-content: flex-end;
  
}
.comment-enrollment-btn, .comment-cancel-btn {
    /* display: block; */
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* float: right; */
    /* margin-bottom: 30px; */
    color: #eee;
}





