@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700%7CNoto+Sans+KR");
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
body {
  font-family: "Roboto";
  color: #fff;
  overflow-x: hidden;
  /* background-color: rgba(0,0,0,0.1); */
  overflow: auto;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -8;
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
body::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -5;
  height: 100%;
  left: 0;
  right: 0;
  /* background-color: rgba(0,0,0,0.2); */
}
.container {
  width: 100%;
  margin: 0 auto;
  /* background-color: rgba(0,0,0,0.3);
  box-shadow: 40px 40px 4rem 4rem rgba(0,0,0,0.3),
  -40px -40px 4rem 4rem rgba(0,0,0,0.3); */
  /* border: 3vw solid rgba(0,0,0,0.2); */
}
/* --------------------------header-------------------------- */
.header {
  /* padding-top: 2vh; */
  height: 20vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2vh 30px 0 30px;
  /* position: fixed; */
  /* z-index: 99999; */
  position: relative;
}
.header.showColor {
  /* background-color:black; */
  background-color: rgba(0, 0, 0, 0.6);
  transition: 1s;
}
.logo {
  margin: 0;
}
.logo>a {
  padding: 20px;
  /* font-size: 90px; */
  /* padding: 90px; */
}
.logo-image {
  display: block;
  /* width: 100%; */
  /* width: 500px;
 height: 500px; */
  top: 5px;
  width: 180px;
  height: 180px;
  position: absolute;
  z-index: 4;
  /* background-color: blue; */
  /* opacity: 0; */
}
/* .logo-image.showImage {
  opacity: 1;
  transition:1S;
} */
/* 헤딩 텍스트 */
/* .logo-title {
  font-weight: 400;
  color: rgba(245,234,244,0.6);
  font-size: 4rem;
  line-height: 6rem;
  margin: 0;
  transition: 2s;
} */
/* .logo-title span{
  position: absolute;
}
.logo-title.wT{
  font-weight: 500;
  font-size: 5rem;
}
.logo-title .logoT {
  font-size : 6rem;
  color: rgba(255,255,255,1);
} */
/* .logo-title.midTime{
  /* color: rgb(255,255,255,0) 
} */
/* .logo-title.midTime span{
} */
/* .midTime .firstT {
  position: absolute;
  color: rgba(255,255,255,1);
  transition: 2s;
}
.midTime .secondT {
  position: absolute;
  color: rgba(255,255,255,1);
  transition: 2s;
} */
/* @keyframes moveF{
  0%{
  }50%{
    top: 5%;
     left: 50%;
     color: #ff0;
     font-size: 0.3rem;
    } 
    90%{
      font-size: 3.5rem;
      top: 24%;
      left: 1.5%;
      color: #ff0;
      opacity:0.3;
    }100%{
      left:1%;
      opacity:0.2;
    }
  }
  @keyframes moveE{
    0%{
    } 
    50% {
      top: 12%;
      left: 80%;
      color: #ff0;
      font-size: 0.3rem;
    }
    90%{
      font-size: 3.5rem;
      top: 24%;
      left: 5%;
      color: #ff0;
      opacity:0.4;
    }100%{
      opacity:0.3;
      left: 4%;
   }
}
.lastTime .firstT{
  animation: moveF 2s forwards;
}
.lastTime .secondT{
  animation: moveE 2s forwards;
}
.logo-title.downT span{
  z-index: -10;
} */
/* 타이머 */
.header-timer {
  font-size: 18px;
  font-weight: 300;
  align-self: flex-end;
  text-align: right;
  /* padding-right: 70px; */
}
.second {
  font-size: 13px;
}
.profile-image {
  width: 50px;
}
.small-container {
  display: flex;
  justify-content: center;
  /* margin: 0 100px; */
}
/* 헤더 검색 */
.header-search {
  opacity: 0;
  /* background-color: skyblue; */
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: center; */
}
.header-search.showSearch {
  opacity: 0.8;
  transition: 1s;
}
.search-input {
  height: 50%;
  border: 2px solid #eee;
  border-radius: 45px;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0);
  line-height: 100%;
  color: rgba(240, 240, 240, 0.8);
  font-size: 1.5rem;
  text-indent: 1rem;
}
.search-input::-webkit-input-placeholder {
  line-height: 100%;
  text-indent: 1rem;
  font-size: 1rem;
}
.btn-search {
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: none;
  cursor: pointer;
  /* background-color: #eee; */
  background-image: url(http://ottogi.okitchen.co.kr/images/common/top_sch.png);
  background-repeat: no-repeat;
  background-size: 30%, 30%;
  background-position: center;
  margin-left: -5.5vw;
  text-indent: -9999px;
  overflow: hidden;
  width: 5vw;
  height: 5vh;
}
/* --------------------------left-container-------------------------- */
.left-container {
  /* background-color: lightblue; */
  width: 100%;
  /* width: 60vw; */
  /* height: 300px; */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
/* 기술 게시판 */
.tech-board {
  /* padding-top: 3rem; */
  width: 100%;
}
.tech-statement {
  /* width: 100%; */
  line-height: 6rem;
  display: inline-block;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 4vw;
  opacity: 0.5;
  transition: 1s;
  letter-spacing: 0.2rem;
  /* padding: 230px 0px; */
  height: 700px;
  /* padding-right: 30px; */
}
.tech-statement span:nth-child(1) {
  display: inline-block;
  width: 12vw;
}
.tech-statement span:nth-child(2) {
  display: inline-block;
  width: 15vw;
}
.tech-statement span:nth-child(3) {
  display: inline-block;
  margin-left: -5vw;
  width: 10vw;
}
.tech-statement::before {
  content: " ";
  display: inline-block;
  line-height: 6rem;
}
.transStatement .tech-statement {
  opacity: 1;
  transition: 1s;
}
@keyframes colorToggle {
  0% {}
  50% {
    color: #655ba0;
    font-size: 5vw;
  }
  100% {
    font-size: 4vw;
  }
}
.tech-statement .stateColor {
  transition: 1.5s;
  vertical-align: bottom;
  animation: colorToggle 1.5s;
}
/* 기술 게시판 전체 헤딩 */
.link-box {
  display: inline-block;
  text-align: center;
  color: rgba(240, 240, 240, 0.7);
  border-radius: 2rem;
  text-decoration: none;
  /* width:100%; */
  /* height: 100%; */
}
/* .link-box:hover {
  color: rgba(240, 240, 240, 1);
  background-color: #655ba0;
  transition: 1s;
} */
.tech-title {
  /* margin-top: 7vh; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4vw;
  /* display: inline-block; */
  /* display: inline; */
  font-style: none;
  text-align: left;
  font-weight: 500;
  /* z-index: 6; */
  /* width: 100vw; */
  height: 500px;
  width: 100%;
  background-color: black;
  /* padding: 80px 70px; */
}
.tech-title-btn {
  display: inline-block;
  text-align: center;
  border-radius: 2rem;
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  color: rgba(240, 240, 240, 1);
  margin-top: 40px;
  padding: 10px;
}
.tech-title-btn:hover{
  color: rgba(240, 240, 240, 1);
  background-color: #655ba0;
  transition: .5s;
}
/* 기술게시판 new 게시판 */
/* 캐러셀 슬라이더 ui 코드 건들지 마세요 */
.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #000;
  /* opacity: 0; */
}
.carousel-item-container {
  display: flex;
}
.carousel-item {
  padding: 5px;
}
.carousel-item img {
  vertical-align: bottom
}
/*prev next 버튼*/
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 99;
}
.carousel-control:focus {
  outline: none;
}
.carousel-control.prev {
  left: 0;
}
.carousel-control.next {
  right: 0;
}
.carousel-control.disabled {
  opacity: 0.5;
}
/* .carousel {
  overflow: visible;
}
#overflow:checked + .carousel {
  overflow:hidden;
} */
/* 여기까지 캐러셀 코드 */
.info {
  display: flex;
}
.tech-news {
  /* background-color: skyblue; */
  background-image: url(../image/board-3700116_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 650px;
  height: 600px;
}
.tech-news:hover {
  background-image: none;
  background-color: black;
}
.Hot-heading {
  font-size: 3vw;
}
/* .news-heading {
  font-size: 3vw;
} */
/* .item-figures{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 2rem;
  justify-content: space-between;
} */
/* .item-firures li:nth-child(1){
  flex-grow: 2;
}
.item-firures li:nth-child(2){
  flex-grow: 0.5;
} */
/* new 게시글 제목 목록 */
.tech-new-headings {
  width: 700px;
  height: 30vh;
  background-color: rgba(101, 91, 160, 0.2);
  overflow-y: scroll;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: start;
}
.top-tech-new-item {
  border: 1px solid rgba(101, 91, 160, 0.5);
  height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.top-new-title {
  flex-grow: 1.5;
  white-space: nowrap;
  overflow: hidden;
}
.top-author {
  flex-grow: 0.5;
}
.tech-new-list {
  width: 500px;
  background-color: orange;
}
.tech-new-item::before {
  content: "";
  display: block;
  width: 500px;
}
/* 타이틀 닉네임 날짜 조회수 */
.tech-new-item {
  background-color: pink;
  height: 30vh;
  /* width: 500px; */
  border: 1px solid black;
}
.tech-list {
  padding: 0;
  list-style-type: none;
  height: 15vh;
}
.tech-list>li>a {
  text-decoration: none;
}
.tech-list>li {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.chat-board {
  background-image: url(../image/48836742891_095645a3c9_k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 600px;
}
.chat-board:hover {
  background-image: none;
  background-color: black;
}
.chat-title {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  font-size: 3vw;
}
/* 
.Hot-heading {
} */
.chat-room {
  padding: 0;
  list-style-type: none;
}
/* --------------------------right-container-------------------------- */
.right-container {
  width: 25vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.profile-title {
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.profile-nickname {
  display: block;
}
.current-users-list {
  list-style-type: none;
  padding: 0;
}
.current-users-list {}
.current-users-list>li {
  margin-top: 10px;
}
.current-users-title {
  text-align: center;
  margin: 0;
}
.friends-list {
  list-style-type: none;
  padding: 0;
}
.friends-list>li {
  margin-top: 10px;
}
.friends-users-title {
  text-align: center;
  margin: 0;
}
.code-book {
  text-align: center;
  margin-top: 40px;
}
.code-book-btn {
  border: 0.3px solid palevioletred;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  outline: none;
}
.creator{
  background-image: url(../image/6571675827_7ad09d66f6_k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 650px;
  height: 600px;
}
.creator:hover {
  background-image: none;
  background-color: black;
}
.creator-title{
  font-size: 3vw;
}
.footer{
  height: 60px;
  display: flex;
	flex-flow: column nowrap;
	align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
	padding-left: 170px;
  padding-right: 100px;
}
.copyright{
  margin-top: 25px;
	display: block;
}

/* --------------------------signup,signin---------------------------------- */

.login {
  position: absolute;
  top: 0;
  right: 0;
}

.login-in.on {
  display: none;
}
.logout.on {
  display: none;
}

.login a {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 1px solid;
}

.login a:hover {
  background-color: rgba(0, 0, 0, 0.3)
}