@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700%7CNoto+Sans+KR");
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
body {
  font-family: "Roboto";
  color: #fff;
  /* background-color: rgba(0,0,0,0.1); */
  overflow: auto;
}
body::after{
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height:100%;
  background-image: url(../image/starry-sky-1654074_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -8;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
body::before {
  content:"";
  display:block;
  position: absolute;
  z-index:-5;
  height:100%;
  left:0;
  right:0;
  /* background-color: rgba(0,0,0,0.2); */
}
.container {
  width: 90vw;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 40px 40px 4rem 4rem rgba(0,0,0,0.3),
  -40px -40px 4rem 4rem rgba(0,0,0,0.3);
  /* border: 3vw solid rgba(0,0,0,0.2); */
}
/* --------------------------header-------------------------- */
.header {
  padding-top: 2vh;
  height: 20vh;
  position: relative;
}
.header.showColor{
  background-color:rgba(0,0,0,0.4);
  transition: 1s;
}
.logo {
  margin: 0;
}
.logo-image {
  width: 10rem;
  height: 10rem;
  position: absolute;
  z-index: 4;
  opacity: 0;
}
.logo-image.showImage {
  opacity: 1;
  transition:2s;
}
/* 헤딩 텍스트 */
.logo-title {
  
  font-weight: 400;
  color: rgba(245,234,244,0.6);
  font-size: 4rem;
  line-height: 6rem;
  margin: 0;
  /* margin-top: -1%; */
  transition: 2s;
  /* display:none; */
}
.logo-title span{
  position: absolute;
}
.logo-title.wT{
  font-weight: 500;
  font-size: 5rem;
}
.logo-title .logoT {
  font-size : 6rem;

  color: rgba(255,255,255,1);
}

.logo-title.midTime{
  /* position: absolute; */
  /* font-size: 4rem; */
  /* letter-spacing: -0.4rem; */
  color: rgb(255,255,255,0)
}

.logo-title.midTime span{
  /* font-size: 3.5rem; */
}
.midTime .firstT {
  position: absolute;
  color: rgba(255,255,255,1);
  transition: 2s;
}
.midTime .secondT {
  position: absolute;
  color: rgba(255,255,255,1);
  transition: 2s;
}
@keyframes moveF{
  0%{
   /* position:absolute;  */
  }50%{
    top: 5%;
     left: 50%;
     color: #ff0;
     font-size: 0.3rem;
    } 
    
    90%{
      /* position: absolute; */
      font-size: 3.5rem;
      top: 24%;
      left: 1.5%;
      color: #ff0;
      opacity:0.3;
    }100%{
      left:1%;
      opacity:0.2;
    }
  }
  @keyframes moveE{
    0%{
      /* position:absolute;  */
    } 
    50% {
      top: 12%;
      left: 80%;
      color: #ff0;
      font-size: 0.3rem;
    }
    90%{
      /* position: absolute; */
      font-size: 3.5rem;
      top: 24%;
      left: 5%;
      color: #ff0;
      opacity:0.4;
    }100%{
      opacity:0.3;
      left: 4%;
   }
}

.lastTime .firstT{
  animation: moveF 2s forwards;
}
.lastTime .secondT{
  animation: moveE 2s forwards;
}
.logo-title.downT span{
  z-index: -10;
}
/* 타이머 */
.header-timer {
  font-size: 18px;
  font-weight: 300;
  align-self: flex-end;
  text-align: right;
}
.second {
  font-size: 13px;
}
.profile-image {
  width: 50px;
}
.small-container {
  display: flex;
  justify-content: center;
}
/* 헤더 검색 */
.header-search{
  opacity: 0;
  /* background-color: skyblue; */
  height:10vh;
  display:flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: center; */
}

.header-search.showSearch{
  opacity:0.8;
  transition:1s;
}



.search-input{
  height: 50%;
  border: 2px solid #eee;
  border-radius: 45px;
  width: 40vw;
  background-color: rgba(0,0,0,0);
  line-height: 100%;
  color: rgba(240,240,240,0.8);
  font-size: 1.5rem;
  text-indent: 1rem;
}

.search-input::-webkit-input-placeholder {
  line-height: 100%;
  text-indent: 1rem;
  font-size: 1rem;
}

.btn-search{  
  /* height: 100%; */
  background-color: rgba(0,0,0,0);
  display: inline-block;
  border: none;
  cursor: pointer;
  /* background-color: #eee; */
  background-image: url(http://ottogi.okitchen.co.kr/images/common/top_sch.png);
  background-repeat: no-repeat;
  background-size: 30%,30%;
  background-position: center;
  margin-left: -5.5vw;
  text-indent:-9999px;  
  overflow: hidden;
  width: 5vw;
  height: 5vh;
}
/* --------------------------left-container-------------------------- */
.left-container {
  /* background-color: lightblue; */
  width: 70vw;
  height: 100vh;
  display:flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

/* 기술 게시판 */
.tech-board{
  padding-top: 3rem;
}

.tech-statement{
  width: 110%;
  line-height: 6rem;
  display: block;
  /* background-color: lightblue; */
  font-size: 4vw;
  opacity: 0.5;
  transition: 1s;
  letter-spacing: 0.2rem;
}
.tech-statement span:nth-child(1){
  display:inline-block;
  width: 12vw;
}
.tech-statement span:nth-child(2){
  display:inline-block;
  width: 15vw;
}
.tech-statement span:nth-child(3){
  display:inline-block;
  margin-left: -5vw;
  width: 10vw;
}
.tech-statement::before{
  content:" ";
  display:inline-block;
  line-height: 6rem;
}
.transStatement .tech-statement{
  opacity: 1;
  transition: 1s;
}
@keyframes colorToggle{
  0%{

  }50%{
    color: #655ba0;
    font-size: 5vw;
    
  }100%{
    font-size: 4vw;
  }
}
.tech-statement .stateColor{
  transition:1.5s;
  vertical-align: bottom;
  animation: colorToggle 1.5s;
}

/* 기술 게시판 전체 헤딩 */
.link-box{
  display:inline-block;
  text-align: center;
  color: rgba(240,240,240,0.7);
  border-radius: 2rem;
  text-decoration: none;
  width:100%;
  height: 100%;

}
.link-box:hover{
  color: rgba(240,240,240,1);
  background-color: #655ba0;
  transition:1s;
  
}
.tech-title {
  margin-top: 7vh;
  font-size: 4vw;
  width: 25vw;
  display: block;
  font-style: none;
  text-align: left;
  font-weight: 500;
  margin-bottom: 5vh;
}

/* 기술게시판 new 게시판 */

/* 캐러셀 슬라이더 ui 코드 건들지 마세요 */
.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
   
  border: 1px solid #000;
  
  /* opacity: 0; */
}
.carousel-item-container{
  display: flex;
}

.carousel-item {
  padding: 5px;
}
.carousel-item img{
  vertical-align: bottom
}
/*prev next 버튼*/
.carousel-control{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.carousel-control:focus{
  outline:none;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next{
  right: 0;
}

.carousel-control.disabled{
  opacity: 0.5;
}

/* .carousel {
  overflow: visible;
}

#overflow:checked + .carousel {
  overflow:hidden;
} */

/* 여기까지 캐러셀 코드 */



.tech-news{
  /* background-color: skyblue; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}


.news-heading{
  font-size:3vw;
}
.item-figures{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 2rem;
  justify-content: space-between;
}
.item-firures li:nth-child(1){
  flex-grow: 2;
}
.item-firures li:nth-child(2){
  flex-grow: 0.5;
}
/* new 게시글 제목 목록 */
.tech-new-headings{

  width:700px;
  height: 30vh;
  background-color: rgba(101, 91, 160, 0.2);
  overflow-y: scroll;
  padding: 2rem;
  box-sizing: border-box;
  display:flex;
  flex-flow: column;
  justify-content: start;
}
.top-tech-new-item{
  border: 1px solid rgba(101,91,160,0.5);
  height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.top-new-title{
  flex-grow: 1.5;
  white-space: nowrap;
  overflow: hidden;
}
.top-author{
  flex-grow: 0.5;
}


.tech-new-list{
  width:500px;
  background-color: orange;
}
.tech-new-item::before{
  content: "";
  display: block;
  width: 500px;

}
/* 타이틀 닉네임 날짜 조회수 */
.tech-new-item{
  background-color: pink;
  height: 30vh;
  /* width: 500px; */
  border: 1px solid black;
}


.tech-list {
  padding: 0;
  list-style-type: none;
  height: 15vh;
}
.tech-list > li > a {
  text-decoration: none;
}
.tech-list > li {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.chat-title {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.chat-room {
  padding: 0;
  list-style-type: none;
}
/* --------------------------right-container-------------------------- */
.right-container {
  width: 25vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
}
.profile-title {
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.profile-nickname {
  display: block;
}
.current-users-list {
  list-style-type: none;
  padding: 0;
}
.current-users-list {
}
.current-users-list > li {
  margin-top: 10px;
}
.current-users-title {
  text-align: center;
  margin: 0;
}
.friends-list {
  list-style-type: none;
  padding: 0;
}
.friends-list > li {
  margin-top: 10px;
}
.friends-users-title {
  text-align: center;
  margin: 0;
}
.code-book {
  text-align: center;
  margin-top: 40px;
}
.code-book-btn {
  border: 0.3px solid palevioletred;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  outline: none;
}
