@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700%7CNoto+Sans+KR");
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
body {
  font-family: "Roboto";
  color: #fff;
  background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/59/purple-690724_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
/* --------------------------header-------------------------- */
.header {
  padding-top: 2vh;
  height: 20vh;
  position: relative;
}
.logo {
  margin: 0;
}
.logo-image {
  width: 10rem;
  height: 10rem;
  position: absolute;
  z-index: 4;
  opacity: 0;
}
.logo-image.showImage {
  opacity: 1;
  transition:2s;
}
/* 헤딩 텍스트 */
.logo-title {
  
  font-weight: 400;
  color: rgba(245,234,244,0.6);
  font-size: 4rem;
  line-height: 6rem;
  margin: 0;
  margin-top: -1%;
  transition: 2s;
}
.logo-title span{
  position: absolute;
}
.logo-title.wT{
  font-weight: 500;
  font-size: 5rem;
}
.logo-title .logoT {
  font-size : 6rem;

  color: rgba(255,255,255,1);
}

.logo-title.midTime{
  /* position: absolute; */
  /* font-size: 4rem; */
  /* letter-spacing: -0.4rem; */
  color: rgb(255,255,255,0)
}

.logo-title.midTime span{
  /* font-size: 3.5rem; */
}
.midTime .firstT {
  position: absolute;
  color: rgba(255,255,255,1);
  transition: 2s;
}
.midTime .secondT {
  position: absolute;
  color: rgba(255,255,255,1);
  transition: 2s;
}
@keyframes moveF{
  0%{
   /* position:absolute;  */
  }50%{
    top: 5%;
     left: 50%;
     color: #ff0;
     font-size: 0.3rem;
    } 
    
    100%{
      /* position: absolute; */
      font-size: 3.5rem;
      top: 24%;
      left: 1.5%;
      color: #ff0;
      opacity:0.5;
    }
  }
  @keyframes moveE{
    0%{
      /* position:absolute;  */
    } 
    50% {
      top: 12%;
      left: 80%;
      color: #ff0;
      font-size: 0.3rem;
    }
    100%{
      /* position: absolute; */
      font-size: 3.5rem;
      top: 24%;
      left: 5%;
      color: #ff0;
      opacity:0.5;
   }
}

.lastTime .firstT{
  animation: moveF 2s forwards;
}
.lastTime .secondT{
  animation: moveE 3s forwards;
}
.header-timer {
  font-size: 18px;
  font-weight: 300;
  align-self: flex-end;

}
.second {
  font-size: 13px;
}
.profile-image {
  width: 50px;
}
.small-container {
  display: flex;
  justify-content: space-between;
}
/* --------------------------left-container-------------------------- */
.left-container {
  width: 70%;
  height: 100vh;
  border: 1px solid purple;
}
.tech-title {
  display: block;
  text-align: center;
}
.tech-list {
  padding: 0;
  list-style-type: none;
  height: 15vh;
}
.tech-list > li > a {
  text-decoration: none;
}
.tech-list > li {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.tech-title {
  font-weight: 400;
  margin: 30px;
}
.chat-title {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.chat-room {
  padding: 0;
  list-style-type: none;
}
/* --------------------------right-container-------------------------- */
.right-container {
  width: 30%;
  height: 100vh;
  border: 1px solid darkblue;
}
.profile-title {
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.profile-nickname {
  display: block;
}
.current-users-list {
  list-style-type: none;
  padding: 0;
}
.current-users-list {
}
.current-users-list > li {
  margin-top: 10px;
}
.current-users-title {
  text-align: center;
  margin: 0;
}
.friends-list {
  list-style-type: none;
  padding: 0;
}
.friends-list > li {
  margin-top: 10px;
}
.friends-users-title {
  text-align: center;
  margin: 0;
}
.code-book {
  text-align: center;
  margin-top: 40px;
}
.code-book-btn {
  border: 0.3px solid palevioletred;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  outline: none;
}