.write-board {
  /* margin: 0 auto; */
  margin-top: 18vh;
  margin-left: 30px;
  width: 80%;
  height: 100%;
  border: 1px solid #A593E0;
}

/* 글쓰기 타이틀 */
.write-heading {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 85px;
  color: #566270;
}

.writer {
  padding: 0 30px;
  padding-bottom: 20px;
}

/* 제목 input, 등록버튼 그룹 */
.write-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: center;
  line-height: 2;
}


/* write input */
.title-write {
  border: 1px solid #f2f2f2;
  /* border: 1px solid red; */
  outline: red;
  font-size: 16px;
  width: 94%;
  height: 28px;
  padding: 10px;
}


.title-write:focus {
  border-radius: 5px;
  border-color: #A593E0;
}

/* 등록 버튼 */
.register-btn {
  border: 1px solid transparent;
  background-color: #A593E0;
  color: #eee;
  font-size: 14px;
  font-weight: 800;
  padding: 4px 7px;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 40px;
  border-radius: 5px;
}

.register-btn:hover {
  background-color: rgb(101, 91, 159);
  border-radius: 5px;
  color: #eee;
}

/* 관련 주제 */
.hash-tag {
  color: #566270;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(165, 147, 224, 20%);
}

/* 관련 주제 설명 */
.hash-tag>span {
  display: block;
}

.language-box {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  /* padding: 0; */
}

.language-box > input {
  margin-right: 0;
}

.editor {
  resize: none;
  width: 95.7%;
  min-height: 130px;
  margin-bottom: 20px;
  padding: 30px;
  border: none;
  font-size: 16px;
  border-top: 3px solid #d6d3d3;
  border-right: 1px solid #d6d3d3;
  border-left: 1px solid #d6d3d3;
  border-bottom: 1px solid #d6d3d3;
}

.editor:focus {
  outline: none;
}

.written {
  display: flex;
  justify-content: flex-end;
}

.modify {
  border: 1px solid transparent;
  font-size: 14px;
  padding: 4px 7px;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 40px;
  margin-right: 10px;
  background-color: #A593E0;
  border-radius: 5px;
  font-weight: 800;
  color: #eee;
}

.modify:hover {
  background-color: rgb(101, 91, 159);
  color: #eee;
}

.delete {
  border: 1px solid transparent;
  font-size: 14px;
  padding: 4px 7px;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 40px;
  background-color: #A593E0;
  border-radius: 5px;
  font-weight: 800;
  color: #eee;
}


.delete:hover {
  background-color: rgb(101, 91, 159);
  color: #eee;
}